<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Github gists"
            id="me.faustovaz.plugin.gihub.gists.maincategory"
            name="Github - Gists">
      </category>
      <command
            categoryId="me.faustovaz.plugin.gihub.gists.maincategory"
            id="me.faustovaz.plugin.gihub.gists.addtogist"
            name="Add to Gists">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="me.faustovaz.plugin.github.gists.handler.AddToGistHandler"
            commandId="me.faustovaz.plugin.gihub.gists.addtogist">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="menu.sample.id"
               label="Sample &amp;Menu">
            <command
                  commandId="command.sample.id"
                  mnemonic="S"
                  id="command.sample.menu.memonic.id">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="toolbar.sample.id">
            <command
                  commandId="command.sample.id"
                  icon="icons/github.png"
                  tooltip="&amp;sample Sample Action"
                  id="sampleAction.id">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <separator
               name="me.faustovaz.plugin.github.gists.core.separator1"
               visible="true">
         </separator>
         <command
               commandId="me.faustovaz.plugin.gihub.gists.addtogist"
               icon="icons/github.png"
               id="me.faustovaz.plugin.gihub.gists.menu.addtogist"
               label="Add to Gist">
         </command>
         <separator
               name="plugin.github.gists.core.separator2">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="me.faustovaz.plugin.github.gists.preference.GistsPreferences"
            id="me.faustovaz.plugin.github.gists.preference.GistsPreferences"
            name="Gists Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="me.faustovaz.plugin.github.gists.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="me.faustovaz.plugin.github.gists.view.gists"
            name="Github Gists">
      </category>
      <view
            category="me.faustovaz.plugin.github.gists.view.gists"
            class="me.faustovaz.plugin.github.gists.view.GistsView"
            icon="icons/github.png"
            id="me.faustovaz.plugin.github.gists.view.GistsView"
            inject="true"
            name="Github Gists">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="me.faustovaz.plugin.github.gists.view.GistsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
